body{height: 90vh; width: 90vh;}
#calcBody{
	width:250px;
	height:350px;
	border:5px solid grey;
	border-radius: 7px;
	display: grid;
	background-color:#536b75;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr 1fr 5fr;
	grid-template-areas:
	"disp disp disp"
	"func func func"
	"keys keys arith";
	}
#display{
	grid-area:disp;
	background-color: #f9d298;
	font-size: 35px;
	text-align: right;
	}
.funcs{
	grid-area:func;
	display:flex;
	}
.keys{
	grid-area:keys;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	}
.ariths{
	grid-area:arith;
	display: flex;
	flex-direction: column;
	}
.btn{
	min-width: 45px;
	min-height:45px;
	}

